body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 133);
}

button {
    width: 400px;
    height: 100px;
    background-color: orange;
    border: 5px solid black;
    margin-top: 100px;
    margin-left: 40%;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    transition: all 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: orange;
    box-shadow: 10px 10px 1px orange;
    margin-top: 95px;
}


button:focus {
    background-color: orange;
    box-shadow: none;
    margin-top: 100px;
}

.box {
    width: 800px;
    height: 555px;
    background-color: orange;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    border: 5px solid black;
    border-radius: 20px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3);
}

.circle {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
}

/* .circle::before {
    content: '';
    width: 100%;
    height: 10px;
    background: red;
}

.circle::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background: aqua;
    border-radius: 50%;
    top: 50%;
    margin-top: 40px;
    right: -30%;

} */

.circle:nth-child(1) {
    background-color: red;

    animation: red 1s ease 100 alternate;
}

.circle:nth-child(2) {
    background-color: blue;

    animation: blue 1s ease 100 alternate 1s;
}

.circle:nth-child(3) {
    background-color: green;

    animation: green 1s ease 100 alternate 2s;
}

.circle:nth-child(4) {
    background-color: red;

    animation: red 1s ease 100 alternate 3s;
}

.circle:nth-child(5) {
    background-color: blue;

    animation: blue 1s ease 100 alternate 4s;
}

.circle:nth-child(6) {
    background-color: green;

    animation: green 1s ease 100 alternate 5s;
}

.circle:nth-child(7) {
    background-color: red;

    animation: red 1s ease 100 alternate 6s;
}

.circle:nth-child(8) {
    background-color: blue;

    animation: blue 1s ease 100 alternate 7s;
}

.circle:nth-child(9) {
    background-color: green;

    animation: green 1s ease 100 alternate 8s;
}

@keyframes red {
    0% {
        padding: 0px;
        background-color: red;

    }

    100% {
        padding: 10%;
        background-color: black;
    }
}

@keyframes blue {
    0% {
        padding: 0px;
        background-color: blue;
    }

    100% {
        padding: 10%;
        background-color: black;
    }
}

@keyframes green {
    0% {
        padding: 0px;
        background-color: green;
    }

    100% {
        padding: 10%;
        background-color: black;
    }
}